<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- PAGE TITLE HERE -->
    <title>setting</title>

    <!-- FAVICONS ICON -->
    <link rel="shortcut icon" type="image/png" href="images/favicon.png">
    <link href="vendor/jquery-nice-select/css/nice-select.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

</head>

<body>

    <%- include('./header_c.ejs') %>

        <div class="content-body">
            <!-- row -->
            <div class="container-fluid">
                

                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card">
    
                            <div class="card-body">
                                <div class="basic-form">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label class="form-label">new name</label>
                                                <input type="text" id="newName" class="form-control">
                                            </div>
                                            <div class="col-md-10">
                                                <div class="row">
                                                    <div class="col-6 col-sm-4 mb-2">
                                                        <div class="col-md-12 d-flex justify-content-center">
                                                            <a class="submit btn btn-primary  px-5"
                                                                id="changeName">Change name</a>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label class="form-label">new phoneNo</label>
                                                <input type="text" id="newPhoneNo" class="form-control">
                                            </div>
                                            <div class="col-md-10">
                                                <div class="row">
                                                    <div class="col-6 col-sm-4 mb-2">
                                                        <div class="col-md-12 d-flex justify-content-center">
                                                            <a class="submit btn btn-primary  px-5"
                                                                id="changePhoneNo">Change phoneNo</a>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                         

                      
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
        Content body end
    ***********************************-->


        <!--**********************************
        Footer start
    ***********************************-->
        <div class="footer">
            <div class="coptionyright">
                <p>Coptionyright © Designed &amp; Developtioned by <a href="javascript:void(0);" target="_blank">
                        Logo</a> 2022</p>
            </div>
        </div>
        <!--**********************************
        Footer end
    ***********************************-->
        </div>
        <!--**********************************
    Main wrapper end
***********************************-->

        <!--**********************************
    Scripts
***********************************-->
        <!-- Required vendors -->
        <script src="vendor/global/global.min.js"></script>
        <script src="js/custom.min.js"></script>
        <script src="js/dlabnav-init.js"></script>

        <script src="vendor/jquery-repeater/repeater.js" type="text/javascript"></script>
 
        <script src="javascripts/setting_c.js"></script>
        <script src="javascripts/getWeb3Bundle.js"></script>


</body>

</html>