<html lang="en" dir="ltr"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- PAGE TITLE HERE -->
    <title>view tender</title>

    <!-- FAVICONS ICON -->
    <link rel="shortcut icon" type="image/png" href="images/favicon.png">
    <link href="vendor/jquery-nice-select/css/nice-select.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

</head>
<body data-typography="cairo" data-theme-version="light" data-layout="vertical" data-nav-headerbg="color_1" data-headerbg="color_1" data-sidebar-style="full" data-sibebarbg="color_1" data-sidebar-position="fixed" data-header-position="fixed" data-container="wide" direction="ltr" data-primary="color_14">

    <%- include('./header_m.ejs') %>
    <script>
        var tenderId = '<%- JSON.stringify(tender_id) %>'; // test is now a valid js object
        tenderId = tenderId.replace('"', '');
        tenderId = tenderId.replace('"', '');
    </script>

<div id="main-wrapper" class="show">
 
    <div class="content-body" style="min-height: 960px;">
        <!-- row -->
        <div class="container-fluid">
            <div class="row page-titles">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a href="tenders-1-view-municipalities.html">Municipalities</a></li>
                    <li class="breadcrumb-item"><strong>Tender Name</strong></li>
                </ol>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="card">
             
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-responsive-sm" id="requestTable">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Company</th>
                                        <th>Price</th>
                                        <th>Start date</th>
                                        <th>End date</th>
                                        <th>Points</th>
                                        <th>Is Winner</th>
                                        <th><strong>Details</strong></th>
                                    </tr>
                                    </thead>
                                    <tbody class="text-center">
     
                                    </tbody>
                                </table>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--**********************************
        Content body end
    ***********************************-->


    <!--**********************************
        Footer start
    ***********************************-->
    <div class="footer">
        <div class="copyright">
            <p>Copyright © Designed &amp; Developed by <a href="javascript:void(0);" target="_blank"> Logo</a> 2022</p>
        </div>
    </div>
    <!--**********************************
        Footer end
    ***********************************-->
</div>
<!--**********************************
    Main wrapper end
***********************************-->

<!--**********************************
    Scripts
***********************************-->
<!-- Required vendors -->
<script src="vendor/global/global.min.js"></script>
<script src="js/custom.min.js"></script>
<script src="js/dlabnav-init.js"></script>
<script src="vendor/jquery/jquery.js"></script>

<link rel="stylesheet" type="text/css"
    href="https://cdn.datatables.net/1.10.15/css/dataTables.jqueryui.min.css" />

<script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/dataTables.jqueryui.min.js"></script>
<script src="javascripts/view_tender_result_m.js"></script>
<script src="javascripts/getWeb3Bundle.js"></script>

</body></html>